@model DogRescue.Models.RescueDog

@{
    ViewBag.Title = "Dog Information";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <img src="@Url.Content($"./../../Content/Images/{Model.Name}.jpg")" style="height:100px; width:125px;" />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Breed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Breed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Availability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdoptionFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdoptionFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpToDateVaccinations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpToDateVaccinations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
