@model IEnumerable<DogRescue.Models.RescueDog>

@{
    ViewBag.Title = "Our Dogs";
}

<h2>@ViewBag.Title</h2><!--calling viewbag.title="our dogs"-->


<table class="table">
    <tr>
        <th>Profile Picture</th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Breed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Availability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdoptionFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpToDateVaccinations)
        </th>
        <th>
            @ViewBag.Title
        </th>
        <th></th>
    </tr>

@foreach (var dog in Model) {
    <tr>
        <td>
           <img src="@Url.Content($"./../../Content/Images/{dog.Name}.jpg")" style="height: 100px; width:150px;"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => dog.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => dog.Breed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => dog.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => dog.Availability)
        </td>
        <td>
            @Html.DisplayFor(modelItem => dog.AdoptionFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => dog.UpToDateVaccinations)
        </td>
        <td>
            @Html.DisplayFor(modelItem => dog.Notes)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=dog.Id })
        </td>
    </tr>
}

</table>
